@{
	ViewBag.Title = "Books";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Books, This page called via MVC framework</h2>
<p> Method executes the data retreiving with AJAX Request </p>
<div>
	<ol id="res"></ol>
</div>
@section scripts
{
	<script>
		alert("Starting.. Click OK...");
		$.ajax({
				url: '/api/books',
				type: 'GET',
				success: function (result) {
					for (var i = 0; i < result.length; i++) {
						var item = result[i];
						$('#res').append("<li>" + item.Name + "\t" + item.Author + "  " + item.PublishDate + "</li>");
					}
					alert("Ok.. that will be at a second...");
				}
			}
		);
	</script>
}